Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
coverage
flask
flask-babel
flask-login
flask-mail
rauth
flask-sqlalchemy
flask-whooshalchemy
flask-wtf
flipflop
guess_language
gunicorn
itsdangerous
psycopg2
sqlalchemy-migrate
ipython
