Jinja2
MarkupSafe
SQLAlchemy
Werkzeug==0.10.4
coverage
flask
flask-babel
flask-login
flask-mail
flask-openid
flask-sqlalchemy
flask-whooshalchemy
flask-wtf
flipflop
guess_language
gunicorn
itsdangerous
psycopg2
sqlalchemy-migrate
ipython
